
.main-header-wrapper{
    display: flex;
    background-color: #fff;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #c0c0c0;
}

.main-header-title{
    margin: 10px 0 0 50px;
}
.main-header-title-log{
    height: 80px;
    width: 250px;

}
.search{
    display: inline;
    margin: 40px;

}
.search-box{
    width: 200px;
    height: 30px;
    padding: 0.8rem;
    box-shadow: 0 0 5px 1px #c0c0c0;
    border-radius: 10px;
}

.search-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-image: url("../../image/search.jpeg");
}

.search-input{
    outline: none;
}

.user-box{
    display: flex;
    margin: 30px 10px 0 auto;
}


.user-header-image{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

#menu{
    list-style-type: none;
    width: 150px;
    height: 40px;
    background: #276baa;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;

}
#menu li{
    text-align: center;
    list-style: none;
    border-radius: 10px;
}
#menu li a{
    display: block;
    padding: 13px 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    border-radius: 10px;
}

#menu li ul li{
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}
#menu li ul li a{
    padding: 13px 15px;
    background: #1a5293;
    font-size: 12px;
    font-weight: normal;
}
#menu li:hover > a{
    background: #1a5293;
    color: #e0dc62;
}
#menu li:hover ul li{
    overflow: visible;
    height: 38px;
    border-bottom: 1px solid #fff;
}


.breadcrumb{
    margin-left: 10px;
    }
.breadcrumb-item{
    display: inline-block;
    color: grey;
    margin-left: 10px;
    margin-bottom: 20px;
}
.breadcrumb-item a{
    text-decoration: none;
}
