
.main-header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 100px;
    border-radius: 10px;
}

.main-header-title{
    margin: 10px 0 0 20px;
    width: 250px;
    background-image: url("../../image/logo.png");
}

.search{
    margin: 30px;
    margin-left: 300px;
}
.search-box{
    margin: 0.5em auto;
    padding: 0.5em;
    width: 50%;
    box-shadow: 0 0 5px 1px #c0c0c0;
    border-radius: 10px;
    outline:0;
}


.user-box{
    display: flex;
    margin: 20px 20px;
}


.user-header-image{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

  #menu{
    list-style-type: none;
    width: 150px;
    height: 40px;
    background: #276baa;

  }
  #menu li{
    text-align: center;
    list-style: none;
  }
  #menu li a{
    display: block;
    padding: 13px 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;

  }

  #menu li ul li{
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
  }
  #menu li ul li a{
    padding: 13px 15px;
    background: #1a5293;
    font-size: 12px;
    font-weight: normal;
  }
  #menu li:hover > a{
    background: #1a5293;
    color: #e0dc62;
  }
  #menu li:hover ul li{
    overflow: visible;
    height: 38px;
    border-bottom: 1px solid #fff;
  }
