
.home-body{
    display: flex;
    margin: auto;
    width: 100%; max-width: 1300px;
}

.home-book-box{
    text-align: center;
    width: 100%;
}

.home-list-name{
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    margin: 30px;
    text-decoration: none;
    box-shadow: 0 -6px 0 0 #DCECF8 inset;
    display: inline ;
}

.home-book-list {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.book_box-list-each{
    margin: 10px;
}

.book_image-index{
    width: 180px;
    height: 230px;
    filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.6));

}
.book-title{
    margin: 10px 0 5px;
    font-weight: 700;
    width: 200px;
}
.book-author{
    color: #3c6ea6;
    width: 200px;
}



.home-view-sentence{
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
}
.home-view-sentence a{
    font-size: 20px;
    text-align: center;

    border: solid 1px;
    border-radius: 5px;
    text-decoration: none;
}
.home-view-sentence a:hover{
    color: #fff;
    background-color: grey;
}


