
.body-content{
    display: flex;
}


.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#menu-box{
    background-image: url("../../image/321288_m.jpg");
    min-height: 100vh;
    height: 680px;
    overflow: hidden;
    position: relative;
}

.header-null{
    height: 40px;
}
.header{
    margin: auto;
    width: 100%; max-width: 1300px;
}


.menu-content{
    max-width: 560px;
    margin-top: 10px;
}

.menu-content .page-title{
    text-align: center;
}

.menu-content p{
    font-size: 1.125rem;
    margin: auto;
    width: 100%; max-width: 900px;

}


.wrapper-item{
    margin: auto;
    width: 100%; max-width: 900px;


}

.wrapper-item-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 50px;
}

.book_box{
    margin: 10px;
}

.book_image{
    width: 200px;
    height: 250px;
    filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.6));

}
.book-title{
    margin: 10px 0 5px;
    font-weight: 700;
}


.book-author
{
    color: #3c6ea6;
}



