




.book-show-above{
    display: flex;
    margin: auto;
    width: 100%; max-width: 800px;
}

.book-show-header{
    background-color: #fff;
}

.book-title-show{
    font-size: 36px;
    margin: auto;
    width: 100%; max-width: 800px;
    border-bottom: 1px solid #ddd;
}


.book-image-show{
    margin: auto;
    width: 100%; max-width: 800px;
    text-align: center;
    margin-top: 20px;
}

.book-image-show-box{
    filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.6));
    width: 220px;
    height: auto;
}

.book-info{
    margin-right: 30px;
    width: 450px;
}

.book-author-box{
    cursor : pointer;
    margin: 40px 0 10px 20px;
    background-color: #eef2fb;
    border-radius: 7px;
    display: inline-block;
    padding: 7px 20px 7px 20px;
}

.book-author-show{
    font-size: 25px;
}

.bouder-line{
    padding: 3px;
    border-bottom: 1px solid #ddd;
    width: 400px;
}

.book-tags-box{
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
}

.book-tag-show{
    cursor : pointer;
    font-size: 15px;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 12px 5px 12px;
    color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);;
    background-color: #fff;
    margin: 5px;
    text-align: center;
}
.book-tag-show:hover {
    background-color: rgb(23, 162, 184);
    color: #fff;
}

.sentence-box-create{
    padding-top: 10px;
    margin: auto;
    width: 100%; max-width: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color:#55c500;
    border-bottom: solid 2px #627295;
    border-radius: 4px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor : pointer;
}

.sentence-box-create:active{
    transform: translateY(2px);
    border-bottom: none;
}

.sentence-box-create:active{
    top: 4px;
    text-shadow: none;
}

.book-show-below{
    margin: auto;
    width: 100%; max-width: 1000px;
}


.sentence-favorite{
    float: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #00b5ad;
    background-image: url("../../image/like.jpeg");
    box-shadow    : 0 0 3px #000;
}

.sentence-box{
    margin: auto;
    width: 100%; max-width: 800px;
}

.sentence-box-each {
    cursor : pointer;
    width: 800px;
    height: 200px;
    margin: 20px 0 20px;
    display: flex;
    border: solid 1px #EEEEEE;
    border-width: 2px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 0 #00b5ad;
    transition: color .3s, box-shadow .3s, transform 0.3s;
}

.sentence-box-each a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sentence-box-each:hover{
    transform: translateY(-4px);
    box-shadow    : 0 0 5px #000;
}
.sentence-box-each:active {
    top: 3px;
    box-shadow: none;
}

.sentence-box-name-each{
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 80px;
}

.line{
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 30px;
}

.sentence-box-text-each{

    padding-top: 20px;
    padding-left: 20px;
    width: 700px;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 700;
    letter-spacing: 0.8pt;

}

.profile_image{
    margin-top: 70px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-position: left top;
}



